<MudContainer MaxWidth="MaxWidth.Medium" Fixed="true" Class="mt-6">
    <MudPaper Class="px-4 py-8">
        <MudStack Spacing="2" AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Style="font-size: 64px;" Color="Color.Error" />

            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudText Typo="Typo.h5" Align="Align.Center">
                    Une erreur est survenue. Veuillez recharger la page.
                </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Medium" Color="Color.Primary" OnClick="ReloadPage" />
            </MudStack>

            <MudButton OnClick="OnExpandCollapseClick">
                @(!_expanded ? "Afficher les détails" : "Réduire")
            </MudButton>

            <MudDivider />

            <!-- Collapsible details -->
            @* <MudCollapse Expanded="_expanded"> *@
            @*     <div style="width:100%; overflow-x: auto; padding: 8px; box-sizing: border-box; border: 1px solid var(--mud-palette-divider); border-radius: 4px;"> *@
            @*         <pre style="margin: 0; white-space: pre-wrap;"> *@
            @*             @(new MarkupString(FaultMessage)) *@
            @*         </pre> *@
            @*     </div> *@
            @* </MudCollapse> *@

            <MudCollapse Expanded="_expanded" Style="width: 100%;">
                <div style="width: 100%; overflow-x: auto; padding: 8px; box-sizing: border-box; border: 1px solid var(--mud-palette-divider); border-radius: 4px;">
                    <pre style="margin: 0; white-space: pre-wrap;">@(new MarkupString(FaultMessage))</pre>
                </div>
            </MudCollapse>
        </MudStack>
    </MudPaper>
</MudContainer>

    @* <MudPaper Class="pa-4" Style="overflow: hidden;"> *@
    @*     <MudStack Spacing="2" AlignItems="Center" Style="width: 100%;"> *@
    @*         <MudStack Row="true" AlignItems="Center" Spacing="2" Style="width: 100%;"> *@
    @*             <MudText Typo="Typo.h5" Align="Center" Style="flex: 1;"> *@
    @*                 Une erreur est survenue. Veuillez recharger la page. *@
    @*             </MudText> *@
    @*         </MudStack> *@
    @*     </MudStack> *@
    @* </MudPaper> *@

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    [Parameter, EditorRequired]
    public string FaultMessage { get; set; } = null!;

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }

    private void ReloadPage()
    {
        NavigationManager.Refresh(true);
    }
}
