@using MyOrder.Store.InvoiceInfoUseCase
@inherits BaseFluxorComponent<InvoiceInfoState, FetchInvoiceInfoAction>

<MudContainer Class="pa-0">
    <MudStack Spacing="4">
        <MudText Typo="Typo.body2" Color="Color.Secondary">Facturation</MudText>
        <MudItem xs="10">
            <!--Compte facturé-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Compte facturé</MudText>
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               ReadOnly="false"
                               @bind-Value="@SelectedCompte">
                        @if (InvoiceToAccounts != null)
                            @foreach (var item in InvoiceToAccounts)
                            {
                                <MudSelectItem T="string" Value="@GetInvoiceAccount(item)">@GetInvoiceAccount(item)</MudSelectItem>
                            }
                        else
                        {
                            <MudSelectItem T="string" Value="string.Empty">string.Empty</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Typo="Typo.caption"
                                  Lines="4"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Margin="Margin.Dense"
                                  ReadOnly="true"
                                  Value="@AccountAddress" />
                </MudItem>
            </MudGrid>

            <!--Siret-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText>Siret</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense" T="string"
                                  Variant="Variant.Outlined" Width="200px"
                                  Disabled="false"
                                  Value="@BasketInvoiceInfo.SiretId.Value">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <!--Groupe de taxe-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Groupe de taxe</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@BasketInvoiceInfo.TaxGroup.Value">
                        @foreach (var item in TaxGroups)
                        {
                            <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Paiment du client-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Paiment du client</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Conditions</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               ReadOnly="true"
                               Value="@BasketInvoiceInfo.PaymentTerm.Value">
                        <MudSelectItem T="string" >Not implemented</MudSelectItem>

                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Mode</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@BasketInvoiceInfo.PaymentMode.Value">
                        @foreach (var item in PaymentModes)
                        {
                            <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Entities public/Chorus-->
            <MudGrid Spacing="2">
                <MudText Typo="Typo.body2" Color="Color.Secondary">Entities public/Chorus</MudText>
                <MudCheckBox Label="IsPublicEntity"
                             LabelPosition="LabelPosition.Start"
                             @bind-Value="@BasketInvoiceInfo.IsPublicEntity">
                </MudCheckBox>
            </MudGrid>
           
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Service exéc</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@(IsPublicEntityValue &&
                                        BasketInvoiceInfo != null &&
                                        BasketInvoiceInfo.PublicEntityExecutingService != null &&
                                        BasketInvoiceInfo.PublicEntityExecutingService.Value != null ?
                                        BasketInvoiceInfo.PublicEntityExecutingService.Value : "")">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Eng.juridique</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@(IsPublicEntityValue &&
                                        BasketInvoiceInfo != null &&
                                        BasketInvoiceInfo.PublicEntityLegalCommitment != null &&
                                        BasketInvoiceInfo.PublicEntityLegalCommitment.Value != null ?
                                        BasketInvoiceInfo.PublicEntityLegalCommitment.Value : "")">
                    </MudTextField>
                </MudItem>
            </MudGrid>

            <!--Notes de facturation-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Notes de facturation</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="8">
                    <MudTextField Typo="Typo.caption"
                                  Lines="4"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Margin="Margin.Dense"
                                  Value="@BasketInvoiceInfo.Note.Value">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudStack>
</MudContainer>

@* <div class="col-md-3" style="padding: 5px;">
    <RadzenCard class="card-container">
        <ChildContent>
            <h4 class="card-title">Invoice Details</h4>
            <RadzenFieldset Text="Invoice Information" Style="margin-bottom: 20px;">
                <div class="fieldset-content">
                    <label class="field-label">Invoice Id</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceId" Placeholder="Invoice Id" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Account</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceAccount" Placeholder="Invoice Account" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Email</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceEmail" Placeholder="Invoice Email" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Note</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceNote" Placeholder="Invoice Note" Multiline="true" Rows="4" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Ship Mode</label>
                    <RadzenDropDown @bind-Value="BasketHeaderDto.InvoiceShipMode" Placeholder="Select Ship Mode" TextProperty="Mode" ValueProperty="Id" Style="width: 100%;" />
                </div>
            </RadzenFieldset>
        </ChildContent>
    </RadzenCard>

</div>

@code
{
    public BasketHeaderDto? BasketHeaderDto { get; set; } = new();
} *@