@using MyOrder.Store.InvoiceInfoUseCase
@inherits BaseFluxorComponent<InvoiceInfoState, FetchInvoiceInfoAction>

<MudContainer Class="pa-0">
    <MudStack Spacing="4">
        <MudText Typo="Typo.body2" Color="Color.Secondary">Facturation</MudText>
         @if (State.Value.IsLoading)
        {
            <MudStack Class="pl-16" Spacing="2">
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Width="175px" Height="24px" Style="background-color: rgb(240 248 255 / 11%)" />
                <MudSkeleton Animation="Animation.Pulse" SkeletonType="SkeletonType.Rectangle" Width="250px" Height="20px" Style="background-color: rgb(240 248 255 / 11%)" />
            </MudStack>
            return;
        }

        @if (State.Value.BasketInvoiceInfo is null)
        {
            <LogAndAlert LogLevel="LogLevel.Error"
                         Exception="new NullReferenceException()"
                         StackTrace="@LogUtility.GetStackTrace()"
                         LogMessage="Unexpected null for GeneralInfo object."
                         AlertMessage="Une erreur est survenue" />
            return;
        } 

        <MudItem xs="10">
            <!--Compte facturé-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Compte facturé</MudText>
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               ReadOnly="false"
                               @bind-Value="@SelectedCompte">
                        @if (InvoiceToAccounts != null)
                        {
                            List<AccountDto> FiltredList = InvoiceToAccounts.Where(item => item != null).Cast<AccountDto>().ToList();

                            @if (FiltredList.Count == 0)
                            {
                                Logger.LogWarning($"the InvoiceToAccounts list  contain only null items.");
                                <MudSelectItem T="string" >@string.Empty</MudSelectItem>
                            }
                            else
                            {
                                @foreach (var item in FiltredList)
                                {
                                    <MudSelectItem T="string" Value="@GetInvoiceAccount(item)">@GetInvoiceAccount(item)</MudSelectItem>
                                }
                            }
                            if (InvoiceToAccounts.Count > FiltredList.Count)
                            {
                                Logger.LogWarning($"the InvoiceToAccounts list  contain some null items.");
                            }
                        }
                        else
                        {
                            Logger.LogWarning($"the InvoiceToAccounts list  is null.");
                            <MudSelectItem T="AccountDto" >@string.Empty</MudSelectItem>
                        }
                       
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Typo="Typo.caption"
                                  Lines="4"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Margin="Margin.Dense"
                                  ReadOnly="true"
                                  Value="@AccountAddress" />
                </MudItem>
            </MudGrid>

            <!--Siret-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText>Siret</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense" T="string"
                                  Variant="Variant.Outlined" Width="200px"
                                  Disabled="false"
                                  Value="@BasketInvoiceInfo.SiretId.Value">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <!--Groupe de taxe-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Groupe de taxe</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@BasketInvoiceInfo.TaxGroup.Value">

                        @if (TaxGroups != null)
                        {
                            List<BasketValueDto> FiltredList = TaxGroups.Where(item => item != null).Cast<BasketValueDto>().ToList();

                            @if (FiltredList.Count == 0)
                            {
                                Logger.LogWarning($"the TaxGroups list  contain only null items.");
                                <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                            }
                            else
                            {
                                @foreach (var item in FiltredList)
                                {
                                    <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                                }
                            }
                            if (TaxGroups.Count > FiltredList.Count)
                            {
                                Logger.LogWarning($"the TaxGroups list  contain some null items.");
                            }
                        }
                        else
                        {
                            Logger.LogWarning($"the TaxGroups list  is null.");
                            <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                        }

                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Paiment du client-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Paiment du client</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Conditions</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               ReadOnly="true"
                               Value="@BasketInvoiceInfo.PaymentTerm.Value">
                        <MudSelectItem T="string">Not implemented</MudSelectItem>

                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Mode</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@BasketInvoiceInfo.PaymentMode.Value">
                        @if (PaymentModes != null)
                        {
                            List<BasketValueDto> FiltredList = PaymentModes.Where(item => item != null).Cast<BasketValueDto>().ToList();

                            @if (FiltredList.Count == 0)
                            {
                                Logger.LogWarning($"the PaymentModes list  contain only null items.");
                                <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                            }
                            else
                            {
                                @foreach (var item in FiltredList)
                                {
                                    <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                                }
                            }
                            if (PaymentModes.Count > FiltredList.Count)
                            {
                                Logger.LogWarning($"the PaymentModes list  contain some null items.");
                            }
                        }
                        else
                        {
                            Logger.LogWarning($"the PaymentModes list  is null.");
                            <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                        }

                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Entities public/Chorus-->
            <MudGrid Spacing="2">
                <MudText Typo="Typo.body2" Color="Color.Secondary">Entities public/Chorus</MudText>
                <MudCheckBox Label="IsPublicEntity"
                             LabelPosition="LabelPosition.Start"
                             @bind-Value="@BasketInvoiceInfo.IsPublicEntity">
                </MudCheckBox>
            </MudGrid>

            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Service exéc</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@(IsPublicEntityValue &&
                                        BasketInvoiceInfo != null &&
                                        BasketInvoiceInfo.PublicEntityExecutingService != null &&
                                        BasketInvoiceInfo.PublicEntityExecutingService.Value != null ?
                                        BasketInvoiceInfo.PublicEntityExecutingService.Value : "")">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">Eng.juridique</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@(IsPublicEntityValue &&
                                        BasketInvoiceInfo != null &&
                                        BasketInvoiceInfo.PublicEntityLegalCommitment != null &&
                                        BasketInvoiceInfo.PublicEntityLegalCommitment.Value != null ?
                                        BasketInvoiceInfo.PublicEntityLegalCommitment.Value : "")">
                    </MudTextField>
                </MudItem>
            </MudGrid>

            <!--Notes de facturation-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">Notes de facturation</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="8">
                    <MudTextField Typo="Typo.caption"
                                  Lines="4"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Margin="Margin.Dense"
                                  Value="@(BasketInvoiceInfo != null &&
                                        BasketInvoiceInfo.Note != null &&
                                        BasketInvoiceInfo.Note.Value != null ?
                                        BasketInvoiceInfo.Note.Value : "")">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudStack>
</MudContainer>

@* <div class="col-md-3" style="padding: 5px;">
    <RadzenCard class="card-container">
        <ChildContent>
            <h4 class="card-title">Invoice Details</h4>
            <RadzenFieldset Text="Invoice Information" Style="margin-bottom: 20px;">
                <div class="fieldset-content">
                    <label class="field-label">Invoice Id</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceId" Placeholder="Invoice Id" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Account</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceAccount" Placeholder="Invoice Account" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Email</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceEmail" Placeholder="Invoice Email" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Note</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceNote" Placeholder="Invoice Note" Multiline="true" Rows="4" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Ship Mode</label>
                    <RadzenDropDown @bind-Value="BasketHeaderDto.InvoiceShipMode" Placeholder="Select Ship Mode" TextProperty="Mode" ValueProperty="Id" Style="width: 100%;" />
                </div>
            </RadzenFieldset>
        </ChildContent>
    </RadzenCard>

</div>

@code
{
    public BasketHeaderDto? BasketHeaderDto { get; set; } = new();
} *@