@using MyOrder.Store.InvoiceInfoUseCase
@inherits MyOrder.Components.Common.BaseFluxorComponent<InvoiceInfoState, FetchInvoiceInfoAction>

@if (State.Value.IsLoading)
{
    <HeaderElementLoadingSkeleton />
    return;
}


<MudContainer Class="pa-0">
    <MudStack Spacing="4">
        <MudText Typo="Typo.h6" Color="Color.Secondary">Facturation</MudText>
        <MudItem xs="10">
            <!--Compte facturé-->
            <MudStack>
                <MudText Typo="Typo.subtitle1" >@BasketInvoiceInfo.Account?.Name</MudText>
            </MudStack>

            <AddressTooltip AccountAddress="AccountAddress">
                <MudSelect Class="change-mudselect-font" Margin="Margin.Dense"
                           T="AccountDto"                      
                           Variant="Variant.Outlined"
                           @bind-Value="@SelectedAccount">
                    @if (InvoiceToAccounts != null)
                    {
                        List<AccountDto> FiltredList = InvoiceToAccounts.Where(item => item != null).Cast<AccountDto>().ToList();

                        @if (FiltredList.Count == 0)
                        {
                            Logger.LogWarning($"the InvoiceToAccounts list  contain only null items.");
                        }
                        else
                        {
                            @foreach (var item in FiltredList)
                            {
                                <MudSelectItem T="AccountDto" Value="@item">@item</MudSelectItem>                                
                            }
                        }
                        if (InvoiceToAccounts.Count > FiltredList.Count)
                        {
                            Logger.LogWarning($"the InvoiceToAccounts list  contain some null items.");
                        }
                    }
                    else
                    {
                        Logger.LogWarning($"the InvoiceToAccounts list  is null.");
                        <MudSelectItem T="AccountDto">@string.Empty</MudSelectItem>
                    }

                </MudSelect>
            </AddressTooltip>
            <MudItem xs="12">
                <MudTextField Typo="Typo.caption"
                              Lines="5"
                              Variant="Variant.Outlined"
                              Style="font-size: 10px; height:90px;"
                              FullWidth="true"
                              Margin="Margin.Dense"
                              ReadOnly="true"
                              Value="@DisplayAddress" />
            </MudItem>

            <!--Siret-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText Style="font-size: 13px; height:22px;">@BasketInvoiceInfo.SiretId?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense" T="string"
                                  Variant="Variant.Outlined"
                                  Style="font-size: 13px; height:22px;"
                                  Disabled="false"                                  
                                  ReadOnly="true"
                                  Value="@BasketInvoiceInfo.SiretId?.Value">
                    </MudTextField>
                </MudItem>
            </MudGrid>

            <!--Groupe de taxe-->
            <MudGrid>
                <MudItem xs="4">
                    <MudText Typo="Typo.body2" Style="font-size: 13px; height:22px;">@BasketInvoiceInfo.TaxGroup?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@TaxGroupValue">

                        @if (TaxGroups != null)
                        {
                            List<BasketValueDto> FiltredList = TaxGroups.Where(item => item != null).Cast<BasketValueDto>().ToList();

                            @if (FiltredList.Count == 0)
                            {
                                Logger.LogWarning($"the TaxGroups list  contain only null items.");

                            }
                            else
                            {
                                @foreach (var item in FiltredList)
                                {
                                    <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                                }
                            }
                            if (TaxGroups.Count > FiltredList.Count)
                            {
                                Logger.LogWarning($"the TaxGroups list  contain some null items.");
                            }
                        }
                        else
                        {
                            Logger.LogWarning($"the TaxGroups list  is null.");
                            <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                        }

                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Paiment du client-->
            <MudText Typo="Typo.subtitle1">Paiment du client</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">@BasketInvoiceInfo.PaymentTerm?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               ReadOnly="true"
                               Value="@BasketInvoiceInfo.PaymentTerm?.Value">
                        <MudSelectItem T="string">Not implemented</MudSelectItem>

                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">@BasketInvoiceInfo.PaymentMode?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudSelect Margin="Margin.Dense"
                               T="string"
                               Variant="Variant.Outlined"
                               @bind-Value="@PaymentModesValue">
                        @if (PaymentModes != null)
                        {
                            List<BasketValueDto> FiltredList = PaymentModes.Where(item => item != null).Cast<BasketValueDto>().ToList();

                            @if (FiltredList.Count == 0)
                            {
                                Logger.LogWarning($"the PaymentModes list  contain only null items.");
                                <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                            }
                            else
                            {
                                @foreach (var item in FiltredList)
                                {
                                    <MudSelectItem T="string" Value="@item.Value">@item.Value</MudSelectItem>
                                }
                            }
                            if (PaymentModes.Count > FiltredList.Count)
                            {
                                Logger.LogWarning($"the PaymentModes list  contain some null items.");
                            }
                        }
                        else
                        {
                            Logger.LogWarning($"the PaymentModes list  is null.");
                            <MudSelectItem T="string" Value="string.Empty">@string.Empty</MudSelectItem>
                        }

                    </MudSelect>
                </MudItem>
            </MudGrid>

            <!--Entities public/Chorus-->
            <MudGrid Spacing="2">
                <MudText Typo="Typo.subtitle1">Entities public/Chorus</MudText>
                @* <MudCheckBox Label="IsPublicEntity"
                             LabelPosition="LabelPosition.Start"
                             @bind-Value="@BasketInvoiceInfo.IsPublicEntity">
                </MudCheckBox> *@
            </MudGrid>

            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">@BasketInvoiceInfo.PublicEntityExecutingService?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@PublicEntityExecutingServiceValue">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="1">
                <MudItem xs="4">
                    <MudText Typo="Typo.body2">@BasketInvoiceInfo.PublicEntityLegalCommitment?.Name</MudText>
                </MudItem>
                <MudItem xs="8">
                    <MudTextField Margin="Margin.Dense"
                                  T="string"
                                  Variant="Variant.Outlined"
                                  Required="@IsPublicEntityValue"
                                  ReadOnly="@(!IsPublicEntityValue)"
                                  Value="@PublicEntityLegalCommitmentValue">
                    </MudTextField>
                </MudItem>
            </MudGrid>

            <!--Notes de facturation-->
            <MudText Typo="Typo.body2" Color="Color.Secondary">@BasketInvoiceInfo.Note?.Name</MudText>
            <MudGrid Spacing="1">
                <MudItem xs="8">
                    <MudTextField Typo="Typo.caption"
                                  Lines="4"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Margin="Margin.Dense"
                                  ReadOnly="true"
                                  Value="@NoteValue">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudStack>
</MudContainer>

@* <div class="col-md-3" style="padding: 5px;">
    <RadzenCard class="card-container">
        <ChildContent>
            <h4 class="card-title">Invoice Details</h4>
            <RadzenFieldset Text="Invoice Information" Style="margin-bottom: 20px;">
                <div class="fieldset-content">
                    <label class="field-label">Invoice Id</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceId" Placeholder="Invoice Id" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Account</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceAccount" Placeholder="Invoice Account" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Email</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceEmail" Placeholder="Invoice Email" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Note</label>
                    <RadzenTextBox @bind-Value="BasketHeaderDto.InvoiceNote" Placeholder="Invoice Note" Multiline="true" Rows="4" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Invoice Ship Mode</label>
                    <RadzenDropDown @bind-Value="BasketHeaderDto.InvoiceShipMode" Placeholder="Select Ship Mode" TextProperty="Mode" ValueProperty="Id" Style="width: 100%;" />
                </div>
            </RadzenFieldset>
        </ChildContent>
    </RadzenCard>

</div>

@code
{
    public BasketHeaderDto? BasketHeaderDto { get; set; } = new();
} *@