@using MyOrder.Store.OrderInfoUseCase
@using MyOrder.Store.Base
@inherits FluxorComponentBase<OrderInfoState, FetchOrderInfoAction>

<SectionPaper Title="@BasketOrderInfo?.PanelLabel" IsLoading="!Initialized">
    @if (!Initialized)
    {
        <HeaderElementLoadingSkeleton />
        return;
    }
    <FetchActionTypeCascadingValue FetchActionTypeValue="FetchActionType">
        <MudStack Justify="Justify.SpaceBetween" Style="height: inherit;">
            <!-- Contact Client -->
            <CustomHeaderCard>
                <HeaderContent>

                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@BasketOrderInfo!.AccountSectionLabel</MudText>

                    <FieldButton Field="BasketOrderInfo.AccountActions?.OrderInfo"
                                 Icon="@Icons.Material.Filled.Info"
                                 IconOnly="true" />

                    <FieldButton Field="@BasketOrderInfo!.AccountActions?.SalesforceLink"
                                 Icon="@Icons.Material.Filled.Cloud"
                                 IconOnly="true"
                                 DisableProcedureCall="true" />

                    <ClickToCallMenu ClickToCallField="BasketOrderInfo.ContactActions?.ClickToCall"
                                     LandLine="@AccountLandLine"
                                     Cellular="@AccountCellularPhone" />

                </HeaderContent>
                <BodyContent>
                    <MudGrid Spacing="0">
                        <MudItem xs="11" Class="pr-1">
                            <MudField Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      InnerPadding="false">
                                <div style="overflow-x: scroll; scrollbar-width: none;">
                                    <MudText Typo="Typo.caption" Style="white-space: nowrap">
                                        @SelectedClient
                                    </MudText>
                                </div>
                            </MudField>
                        </MudItem>
                        <MudItem xs="1" Class="align-content-center">
                            <ClipboardButton TooltipText="Copier l'identifiant du compte client"
                                             StringToCopy="@BasketOrderInfo!.Account?.Value?.AccountId" />
                        </MudItem>
                    </MudGrid>
                    <DisplayAddress AccountField="BasketOrderInfo?.Account" />
                </BodyContent>
            </CustomHeaderCard>

            <CustomHeaderCard>
                <HeaderContent>
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@BasketOrderInfo!.ContactSectionLabel</MudText>

                    <MudTooltip Text="Chercher contact">
                        <MudIconButton Icon="@Icons.Material.Filled.Search"
                                       Size="Size.Small"
                                       OnClick="OpenContactSearchDialogAsync" />
                    </MudTooltip>

                    <FieldButton Field="@BasketOrderInfo!.ContactActions?.SalesforceLink"
                                 Icon="@Icons.Material.Filled.Cloud"
                                 IconOnly="true"
                                 DisableProcedureCall="true" />

                    <ClickToCallMenu ClickToCallField="BasketOrderInfo.ContactActions?.ClickToCall"
                                     LandLine="@ContactLandLine"
                                     Cellular="@ContactCellularPhone" />
                </HeaderContent>
                <BodyContent>
                    <MudStack Justify="Justify.FlexStart"
                              Row="true"
                              Spacing="1">
                        <GenericMudSelect Variant="Variant.Outlined"
                                          T="ContactDto"
                                          Field="BasketOrderInfo!.Contact"
                                          Items="Contacts" />
                        <ClipboardButton TooltipText="Copier l'identifiant du contact client"
                                         StringToCopy="@BasketOrderInfo!.Contact?.Value?.ContactId" />
                    </MudStack>


                    <ContactInfo Contact="BasketOrderInfo!.Contact?.Value" />
                </BodyContent>
            </CustomHeaderCard>

            <MudCard Elevation="0">
                <MudCardHeader Class="px-1 py-2 ma-n1">
                    <CardHeaderContent>
                        <MudText Typo="Typo.subtitle1" Color="Color.Secondary"
                                 Class="pt-0">@BasketOrderInfo!.InformationSectionLabel</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent Class="pa-0">
                    <MudGrid Spacing="1">
                        <MudItem xs="12">
                            <MudGrid Spacing="1">
                                <MudItem xs="6">
                                    <GenericMudSelect Field="BasketOrderInfo!.SalesOriginId"
                                                      Items="SalesOrigins" />

                                </MudItem>
                                <MudItem xs="6">
                                    <GenericMudSelect Field="BasketOrderInfo!.WebOriginId"
                                                      Items="WebOrigins" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <GenericMudSelect Field="BasketOrderInfo!.SalesPoolId"
                                              Items="SalesPools" />

                        </MudItem>
                        <!-- Customer Ref-->
                        <MudItem xs="12">
                            <GenericTextField Field="BasketOrderInfo!.CustomerOrderRef" />
                        </MudItem>
                        <!-- Web Sales-->
                        <MudItem xs="12">
                            <GenericTextField Field="BasketOrderInfo!.WebSalesId" />
                        </MudItem>
                        <!-- Related Link-->
                        <MudItem xs="12">
                            <GenericTextField Field="BasketOrderInfo.RelatedLink" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>

            <MudSpacer />
            <div>
                <!-- SUBSECTION : Notes de RC -->
                <MudTextField Typo="Typo.caption"
                              Lines="4"
                              Variant="Variant.Outlined"
                              FullWidth="true"
                              Margin="Margin.Dense"
                              ReadOnly="true"
                              Class="outlined-generic-textfield"
                              Label="@BasketOrderInfo!.Note?.Name"
                              Value="@BasketOrderInfo!.Note?.Value" />
            </div>
        </MudStack>

    </FetchActionTypeCascadingValue>
</SectionPaper>