@using MyOrder.Store.OrderInfoUseCase
@inherits BaseFluxorComponent<OrderInfoState, FetchOrderInfoAction>

@if (isLoading)
{
    <HeaderElementLoadingSkeleton />
    return;
}

<MudStack Justify="Justify.SpaceBetween" Style="height: inherit;">

    <div>
        <MudText Typo="Typo.h6" Color="Color.Secondary" Class="pb-4">Commande</MudText>

        <!-- Contact Client -->
        <CustomHeaderCard>
            <HeaderContent>
                <MudText Typo="Typo.subtitle1">Contact Commandeur</MudText>
                <MudTooltip Text="Chercher contact">
                    <MudIconButton Icon="@Icons.Material.Filled.Search" Size="Size.Small" @onclick="OpenContactSearchDialogAsync" />
                </MudTooltip>
                <MudTooltip Text="Copier les informations du client -Not Implemented">
                    <MudIconButton Icon="@Icons.Material.Filled.Description" Size="Size.Small" />
                </MudTooltip>
                <MudTooltip Text="Salesforce? -Not Implemented">
                    <MudIconButton Icon="@Icons.Material.Filled.Cloud" Size="Size.Small" />
                </MudTooltip>
                <MudTooltip Text="Infos? -Not Implemented">
                    <MudIconButton Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                </MudTooltip>
                <MudTooltip Text="Call? -Not Implemented">
                    <MudIconButton Icon="@Icons.Material.Filled.Phone" Size="Size.Small" />
                </MudTooltip>
            </HeaderContent>
            <BodyContent>
                <AddressTooltip AccountAddress="AccountAddress">
                    <MudTextField Typo="Typo.body2"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  ReadOnly="true"
                                  Value="SelectedClient"
                                  Label="Compte Commandeur"
                                  Style="text-align-last: center;" />

                </AddressTooltip>

                <GenericMudSelect Variant="Variant.Outlined"
                                  T="ContactDto"
                                  @bind-BoundValue="ContactValue"
                                  Field="BasketOrderInfo!.Contact"
                                  Items="Contacts" />

                <ContactInfo Contact="BasketOrderInfo!.Contact?.Value" />
            </BodyContent>
        </CustomHeaderCard>
    </div>

    <CustomHeaderCard Elevation="0">
        <HeaderContent>
            <MudText Typo="Typo.subtitle1" Class="pt-0">Informations générales</MudText>
        </HeaderContent>
        <HeaderActions>
            <div style="display: flex; align-items: center; justify-content: center; height: 4vh;">
                @if (BasketOrderInfo?.CustomerTags is { Count: > 0 })
                {
                    <MudStack Row="true" Spacing="2" Justify="Justify.FlexStart" Style="">
                        @foreach (var item in BasketOrderInfo.CustomerTags)
                        {
                            if (item is not null)
                            {
                                <MudIcon Color="@CustomerTagColorHelper(item.Value)"
                                         Title="@FieldUtility.NullOrWhiteSpaceHelperWithDash(item.Description)"
                                         Icon="@CustomerTagIconHelper(item.Value)"
                                         Size="Size.Large" />
                            }
                        }
                    </MudStack>
                }
            </div>

        </HeaderActions>
        <BodyContent>
            <MudStack Spacing="2">
                <DisplayField Field="@BasketOrderInfo!.ActivityArea" />

                <MudGrid Spacing="0">
                    <MudItem xs="12">
                        <MudGrid Justify="Justify.SpaceBetween">
                            <MudItem xs="6">
                                <GenericMudSelect T="string"
                                                  @bind-BoundValue="SalesOriginIdValue"
                                                  Field="BasketOrderInfo!.SalesOriginId"
                                                  Items="SalesOrigins?.Select( item => item?.Value).ToList()" />

                            </MudItem>
                            <MudItem xs="6">
                                <GenericMudSelect @bind-BoundValue="WebOriginIdValue"
                                                  Field="BasketOrderInfo!.WebOriginId"
                                                  Items="WebOrigins?.Select( item => item?.Value).ToList()" />
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12">
                        <GenericMudSelect T="string"
                                          @bind-BoundValue="SalesPoolId"
                                          Field="BasketOrderInfo!.SalesPoolId"
                                          Items="SalesPools?.Select( item => item?.Value).ToList()" />

                    </MudItem>
                    <!-- Customer Ref-->
                    <MudItem xs="12">
                        <GenericTextField Field="@BasketOrderInfo!.CustomerOrderRef"
                                          @bind-BoundValue="CustomerOrderRefValue" />
                    </MudItem>
                    <!-- Web Sales-->
                    <MudItem xs="12">
                        <GenericTextField Field="@BasketOrderInfo!.WebSalesId"
                                          @bind-BoundValue="WebSalesIdValue" />
                    </MudItem>
                    <!-- Related Link-->
                    <MudItem xs="12">
                        @if (!FieldUtility.IsHidden(BasketOrderInfo!.RelatedLink))
                        {
                            <MudTextField Typo="Typo.body2"
                                          Margin="Margin.Dense"
                                          Variant="Variant.Text"
                                          FullWidth="true"
                                          Required="FieldUtility.IsRequired(BasketOrderInfo.RelatedLink)"
                                          ReadOnly="FieldUtility.IsReadOnly(BasketOrderInfo.RelatedLink)"
                                          Label="@BasketOrderInfo.RelatedLink?.Name"
                                          @bind-Value="@RelatedLinkValue" />
                        }
                    </MudItem>
                </MudGrid>
            </MudStack>
        </BodyContent>
    </CustomHeaderCard>

    <MudDivider />

    <!-- SUBSECTION : Notes de RC -->
    <div>
        <MudTextField Typo="Typo.caption"
                      Lines="4"
                      Variant="Variant.Outlined"
                      FullWidth="true"
                      Margin="Margin.Dense"
                      ReadOnly="true"
                      Label="@BasketOrderInfo!.Note?.Name"
                      Value="@BasketOrderInfo!.Note?.Value" />
    </div>
</MudStack>