@inherits LoadableComponent

<MudContainer Class="p-4">
    <MudStack Spacing="3">
        <MudText Typo="Typo.h6" Color="Color.Secondary">Commande</MudText>

        <!-- Contact Client -->
        <MudText Typo="Typo.subtitle1">Contact client</MudText>
        <MudField Variant="Variant.Text">@SelectedClient</MudField>
        <MudSelect Label="Client Name" T="string" Variant="Variant.Outlined" @bind-Value="SelectedContact" FullWidth="true">
            <MudSelectItem T="string" Value="@SelectedContact" />
        </MudSelect>

        <MudGrid Spacing="2">
            <MudItem xs="12" sm="6">
                <MudStack Row="true" Spacing="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Phone" />
                    <MudTextField Value="@BsktOrderInfo.Contact.Phone" ReadOnly="true" />
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudStack Row="true" Spacing="1">
                    <MudIconButton Icon="@Icons.Material.Filled.SpeakerPhone" />
                    <MudTextField Value="@BsktOrderInfo.Contact.CellularPhone" ReadOnly="true" />
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="Email" Value="@BsktOrderInfo.Contact.Email" ReadOnly="true" FullWidth="true" />
            </MudItem>
        </MudGrid>

        <!-- Secteur d'activité -->
        <MudText Typo="Typo.subtitle1">Secteur d'activité</MudText>
        <MudField Style="width: 100%;">@BsktOrderInfo.ActivityArea</MudField>

        <!-- Informations générales -->
        <MudText Typo="Typo.subtitle1">Informations générales</MudText>
        <MudGrid Spacing="2">
            <MudItem xs="12" sm="6">
                <MudSelect Label="Canal de vente" @bind-Value="BsktOrderInfo.SalesOriginId" FullWidth="true">
                    @foreach (var item in SalesOrigins)
                    {
                        <MudSelectItem Value="@item.Code" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect Label="Type de trans." @bind-Value="BsktOrderInfo.SalesPoolId" FullWidth="true">
                    @foreach (var item in SalesPools)
                    {
                        <MudSelectItem Value="@(item.Code + " - " + item.Name)" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudField Label="Référence Client">@BsktOrderInfo.PurchOrderFormNum</MudField>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudField Label="Commande Web">NotImplemented</MudField>
            </MudItem>
        </MudGrid>

        <!-- Notes de RC -->
        <MudText Typo="Typo.subtitle1">Notes de RC</MudText>
        <MudTextField Placeholder="Notes de RC" Lines="6" Value="@BsktOrderInfo.Note" FullWidth="true" />
    </MudStack>
</MudContainer>


@*
<div class="col-md-3" style="padding: 5px;">
    <RadzenCard class="card-container">
        <ChildContent>
            <h4 class="card-title">Commande</h4>
            <RadzenFieldset Text="Contact client" Style="margin-bottom: 20px;">
                <div class="fieldset-content">
                    <label class="field-label">Select client</label>
                    <div class="icon-container">
                        <RadzenDropDown @bind-Value="BsktOrderInfo.Account.AccountNum" Placeholder="Select client" TextProperty="Name" ValueProperty="Id" Style="flex-grow: 1;" />
                        <RadzenIcon Icon="search" class="icon" />
                        <RadzenIcon Icon="cloud" class="icon" />
                        <RadzenIcon Icon="phone" class="icon" />
                    </div>
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Client Name</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.Account.Name" Placeholder="Name" Style="width: 100%;" />
                    <div class="button-container">
                        <RadzenButton Icon="edit" Style="margin-right: 10px;" />
                        <RadzenButton Icon="delete" />
                    </div>
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Client Phone</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.Account.Phone" Placeholder="Phone" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Client Email</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.Account.Email" Placeholder="Email" Style="width: 100%;" />
                </div>
            </RadzenFieldset>
            <RadzenFieldset Text="Secteur d'activité" Style="margin-bottom: 20px;">
                <p>Commerce de gros (commerce interentreprises) de produits pha</p>
            </RadzenFieldset>
            <RadzenFieldset Text="Informations générales">
                <div class="fieldset-content">
                    <label class="field-label">Canal de vente</label>
                    <RadzenDropDown @bind-Value="BsktOrderInfo.SalesOriginId" Placeholder="Select sales channel" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Type de trans.</label>
                    <RadzenDropDown @bind-Value="BsktOrderInfo.SalesPoolId" Placeholder="Select transaction type" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Référence Client</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.PurchOrderFormNum" Placeholder="Client Reference" Style="width: 100%;" />
                </div>
                <div class="fieldset-content">
                    <label class="field-label">Commande Web</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.WebOriginId" Placeholder="Web Order Reference" Style="width: 100%;" />
                </div>
                <div>
                    <label class="field-label">Notes de RC</label>
                    <RadzenTextBox @bind-Value="BsktOrderInfo.Note" Placeholder="Notes" Multiline="true" Rows="4" Style="width: 100%;" />
                </div>
            </RadzenFieldset>
        </ChildContent>
    </RadzenCard>
</div> *@