@using MyOrder.Store.TradeInfoUseCase
@inherits FluxorComponentBase<TradeInfoState, FetchTradeInfoAction>

@if (isLoading)
{
    <HeaderElementLoadingSkeleton />
    return;
}
<SectionPaper Title="@BasketTradeInfo!.PanelLabel">
    <FetchActionTypeCascadingValue FetchActionTypeValue="FetchActionType">
        <MudStack Justify="Justify.SpaceBetween" Style="height: inherit;">
            <MudStack Spacing="2">
                <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@BasketTradeInfo?.Turnover?.Name</MudText>
                <MudDataGrid Items="@Turnover"
                             SortMode="@SortMode.None"
                             Striped="true"
                             Hover="true"
                             Dense="true"
                             Elevation="0"
                             Class="mx-n1">
                    <Columns>
                        <PropertyColumn Property="x => x == null? string.Empty : x.Name"
                                        Title="@string.Empty"
                                        CellClass="py-1 pl-1 pr-4" />

                        <PropertyColumn Property="x => x == null? string.Empty : x.Ytd"
                                        Title="YTD"
                                        CellClass="py-1 pl-1 pr-4"
                                        CellStyle="text-align: right" />

                        <PropertyColumn Property="x => x == null? string.Empty : x.YtdN1"
                                        Title="YTD-1"
                                        CellClass="py-1 pl-1 pr-4"
                                        CellStyle="text-align: right" />

                        <PropertyColumn Property="x => x == null? string.Empty : x.N1"
                                        Title="N-1"
                                        CellClass="py-1 pl-1 pr-4"
                                        CellStyle="text-align: right" />

                        <PropertyColumn Property="x => x == null? string.Empty : x.N2"
                                        Title="N-2"
                                        CellClass="py-1 pl-1 pr-4"
                                        CellStyle="text-align: right" />
                    </Columns>
                </MudDataGrid>
            </MudStack>

            <div>
                <MudStack Row="true" StretchItems="StretchItems.Start" Spacing="0">
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary" Class="ml-n">@BasketTradeInfo.InformationSectionLabel</MudText>
                    @* @if (BasketOrderInfo?.CustomerTags is { Count: > 0 }) *@
                    @* { *@
                    @*     <MudStack Row="true" Spacing="2" Justify="Justify.FlexStart" Style=""> *@
                    @*         @foreach (var item in BasketOrderInfo.CustomerTags) *@
                    @*         { *@
                    @*             if (item is not null) *@
                    @*             { *@
                    @*                 <MudIcon Color="@CustomerTagColorHelper(item.Value)" *@
                    @*                          Title="@FieldUtility.NullOrWhiteSpaceHelperWithDash(item.Description)" *@
                    @*                          Icon="@CustomerTagIconHelper(item.Value)" *@
                    @*                          Size="Size.Large" /> *@
                    @*             } *@
                    @*         } *@
                    @*     </MudStack> *@
                    @* } *@
                    <MudIcon Color="Color.Warning"
                             Icon="@Icons.Material.Filled.WarningAmber"
                             Title="Not implemented"
                             Size="Size.Medium" />
                </MudStack>
                <DisplayField Field="@BasketTradeInfo!.ActivityArea" />
            </div>

            <!--Contract en cours-->
            @if (Contract is not null)
            {
                <MudStack Spacing="6" Class="mt-6">
                    <div>
                        <MudText Typo="Typo.subtitle1" Color="Color.Warning">@BasketTradeInfo!.ContractSectionLabel</MudText>

                        <MudGrid Spacing="1">
                            <MudItem xs="6">
                                <DisplayField Field="Contract?.ContractType" />
                            </MudItem>
                            <MudItem xs="6">
                                <DisplayField Field="Contract?.ContractGroup" />
                            </MudItem>
                            <MudItem xs="6">
                                <DisplayField Field="Contract?.ContractId" />
                            </MudItem>
                            <MudItem xs="6">
                                <DisplayField Field="Contract?.Status" />
                            </MudItem>
                        </MudGrid>
                        <!--Contract details-->

                        <MudGrid Spacing="1">

                            <MudItem xs="6">
                                <DisplayField Field="Contract.ContractDates" />
                            </MudItem>

                            <MudItem xs="6">
                                <DisplayField Field="Contract?.CampaignId" />
                            </MudItem>

                            <MudItem xs="6">
                                <DisplayField Field="Contract?.MainContact" />
                            </MudItem>

                            <MudItem xs="6">
                                <DisplayField Field="Contract?.OfficeExecutive" />
                            </MudItem>

                        </MudGrid>
                    </div>
                </MudStack>

                <MudSpacer />

                <MudTextField Typo="Typo.caption"
                              Lines="4"
                              Variant="Variant.Outlined"
                              FullWidth="true"
                              Margin="Margin.Dense"
                              ReadOnly="true"
                              Label="@Contract?.DiscountList?.Name"
                              Value="DiscountDetails" />

            }
            else
            {
                <MudText Typo="Typo.subtitle1" Color="Color.Secondary">Contrat en cours</MudText>
                <MudText Typo="Typo.body2"><em>Aucun contrat en cours</em></MudText>
                <MudSpacer />
            }
        </MudStack>
    </FetchActionTypeCascadingValue>
</SectionPaper>