<MudPaper Elevation="2" Class="header-cards-height header-cards-height-content">
    <MudStack Spacing="2" Justify="Justify.SpaceBetween" Style="height: inherit;">
        <div>
            <MudText Typo="Typo.h6" Color="Color.Secondary" Class="pb-4">Informations générales</MudText>
            <MudGrid Spacing="1">
                <!--Code article-->
                <MudItem xs="6">
                    <MudElement @onclick="(() => HandlePopOverOnClick())">
                        <DisplayField Field="BasketLine?.ItemId" />
                    </MudElement>
                    <MudPopover Open="@_openPopOver" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Paper="false">
                        <MudPaper Outlined="true" Class="pa-2">
                            <MudText>
                                Num article<br />
                                Volume<br />
                                etc...
                            </MudText>
                            <MudButton OnClick="@(() => HandlePopOverOnClick())" Color="Color.Error">Fermer</MudButton>
                        </MudPaper>
                    </MudPopover>
                </MudItem>

                <!--N de ligne-->
                <MudItem xs="6">
                    <GenericTextField Field="@BasketLine!.LineNum" />
                </MudItem>

                <!--Motif Modif-->
                <MudItem xs="6">
                    <GenericMudSelect Variant="Variant.Outlined"
                                      Field="BasketLine?.UpdateReason"
                                      Items="UpdateReasons" />
                </MudItem>

                <!--Quantité initiale-->
                <MudItem xs="6">
                    <DisplayField Field="@BasketLine?.InitialSalesQuantity" />
                </MudItem>

                <!--Vendu par-->
                <MudItem xs="6">
                    <DisplayField Field="@BasketLine?.MultipleQuantity" />
                </MudItem>

                <!--Taux de TVA-->
                <MudItem xs="6">
                    <DisplayField Field="@BasketLine?.VatRate" />
                </MudItem>

                <!--Description-->
                <MudItem xs="12">
                    <GenericTextField Field="@BasketLine?.Name" />
                </MudItem>
            </MudGrid>

            <!--Notes de ligne-->
            <GenericTextField Field="@BasketLine?.Note" />
        </div>

        <MudDivider Light="true" />
        <!--Information produit-->
        <div>
            <MudTextField Margin="Margin.Dense"
                          T="string"
                          Lines="3"
                          Typo="Typo.body2"
                          Label="@BasketLine?.ProductInfo?.Name"
                          Variant="Variant.Outlined"
                          Required="@FieldUtility.IsRequired(BasketLine?.ProductInfo)"
                          ReadOnly="@FieldUtility.IsReadOnly(BasketLine?.ProductInfo)"
                          Disabled="@FieldUtility.IsHidden(BasketLine?.ProductInfo)"
                          Value="BasketLine?.ProductInfo?.Value" />
        </div>
    </MudStack>
</MudPaper>