@using MyOrder.Services

@layout DefaultLayout

@page "/Error"

<PageTitle>Error</PageTitle>

@if (IsNotFound)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Fixed="true" Class="mt-6">
        <MudPaper Class="px-4 pt-8 pb-4">
            <MudStack Spacing="2" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Style="font-size: 64px;" Color="Color.Warning" />
                <MudText Typo="Typo.h5" Align="Align.Center" Class="pb-4">
                    La page demandée n'a pas été trouvée.
                </MudText>
                <MudButton Color="Color.Warning" OnClick="Reload">Recharger la page</MudButton>
            </MudStack>
        </MudPaper>
    </MudContainer>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium" Fixed="true" Class="mt-6">
        <MudPaper Class="px-4 py-8">
            <MudStack Spacing="2" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Style="font-size: 64px;" Color="Color.Error" />

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h5" Align="Align.Center">
                        Une erreur est survenue. Veuillez recharger la page.
                    </MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Medium" Color="Color.Primary" OnClick="Reload" />
                </MudStack>

                <MudButton OnClick="OnExpandCollapseClick">
                    @(!_expanded ? "Afficher les détails" : "Réduire")
                </MudButton>

                <MudDivider />

                <!-- Collapsible details -->
                @* <MudCollapse Expanded="_expanded"> *@
                @*     <div style="width:100%; overflow-x: auto; padding: 8px; box-sizing: border-box; border: 1px solid var(--mud-palette-divider); border-radius: 4px;"> *@
                @*         <pre style="margin: 0; white-space: pre-wrap;"> *@
                @*             @(new MarkupString(FaultMessage)) *@
                @*         </pre> *@
                @*     </div> *@
                @* </MudCollapse> *@

                <MudCollapse Expanded="_expanded" Style="width: 100%;">
                    <div style="width: 100%; overflow-x: auto; padding: 8px; box-sizing: border-box; border: 1px solid var(--mud-palette-divider); border-radius: 4px;">
                        <pre style="margin: 0; white-space: pre-wrap;">@(new MarkupString(FaultMessage))</pre>
                    </div>
                </MudCollapse>
            </MudStack>
        </MudPaper>
    </MudContainer>

    @* <MudPaper Class="pa-4" Style="overflow: hidden;"> *@
    @*     <MudStack Spacing="2" AlignItems="Center" Style="width: 100%;"> *@
    @*         <MudStack Row="true" AlignItems="Center" Spacing="2" Style="width: 100%;"> *@
    @*             <MudText Typo="Typo.h5" Align="Center" Style="flex: 1;"> *@
    @*                 Une erreur est survenue. Veuillez recharger la page. *@
    @*             </MudText> *@
    @*         </MudStack> *@
    @*     </MudStack> *@
    @* </MudPaper> *@
}

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;
    [Inject]
    private AppFaultedTicket AppFaultedTicket { get; set; } = null!;

    private string FaultMessage => AppFaultedTicket.Message ?? "A fault occurred, but no message was provided.";
    private bool IsNotFound => !AppFaultedTicket.IsValid; //If the ticket is validm it means the error is not a 404 Not Found.


    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }

    private void Reload()
    {
#warning Hard coded redirection value
        var target = AppFaultedTicket.IsValid ? AppFaultedTicket.ReturnUri! : NavigationManager.BaseUri + "raja-fr";
        NavigationManager.NavigateTo(target, forceLoad: true, replace: true);
        // No need to call AppFaultedTicket.Clear() here, as the ticket is cleared on the next request due to forceLoad: true.
    }
}